{{ form_row(form.title) }}
{{ form_row(form.is_valid) }}
{{ form_row(form.description) }}
{{ form_row(form.metatitle) }}
{{ form_row(form.metadescription) }}
{{ form_row(form.groupTricks) }}
<button class="btn btn-primary btn-add" type="button" data-target="#images">Ajouter une image</button>
<div
        id="images"
        data-index="{{ form.images|length == 0 ? 0 : form.images|last.vars.name + 1  }}"
        data-prototype="{{ include("admin/trick/image.html.twig", { form: form.images.vars.prototype })|e("html_attr") }}"
>
    {% for image in form.images %}


    {% endfor %}
</div>