{% extends 'base.html.twig' %}
{% block title %}{{ trick.slug }}{% endblock %}
{% block metadesc %}{% endblock %}
{% block metatitle %}{% endblock %}

{% block body %}

    <div class="container">
        <img src="https://picsum.photos/1024/502" class="card-img-top" alt="...">
        <h1 class="title-trick">{{ trick.title }}</h1>
    </div>
    <div class="container flex test">
        {% for key,image in trick.images  %}
            <a href="javascript(void)" class=" col-sm- col-md-2  " onclick="MoveOnCover('{{ image.path }}')"><img src="{{ asset('uploads/') }}{{ image.path }}" class="card-img-top trick_item" alt="..."></a>
        {% endfor %}
        {% for key,video in trick.videos  %}
            <a  target="_blank" href="{{ video.uri }}" class=" col-sm- col-md-2  "><img src="{{ asset('uploads/video-logo.jpg') }}" class="card-img-top trick_item"></a>
        {% endfor %}
    </div>
    <div class="container my-3">
        {{ trick.description }}


        <div class="flex my-3">
            <div class="col-sm-2 mx-auto bg-secondary text-white text-center">Auteur</div>

            <div class="col-sm-2 mx-auto bg-secondary text-white text-center">Groupe : {{ trick.group.name}}</div>

            <div class="col-sm-2 mx-auto bg-secondary text-white text-center">Créé le : {{ trick.dateAdd|date('Y-m-d') }}</div>

            <div class="col-sm-2 mx-auto bg-secondary text-white text-center">Dernière modification : {{ trick.dateUpdate|date('Y-m-d') }}</div>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') == true %}
        {{ form_start(form) }}
        {{ form_error }}
        {{ form_widget(form._token) }}
        <div class="card-body">
            {{ include("admin/comment/_form.html.twig") }}
        </div>
        <div class="card-footer">
            <button class="btn btn-block btn-lg btn-primary">Modifier</button>
        </div>
        {{ form_end(form, { render_rest: false }) }}

    {% endif %}
    <div id="forComments" class="container mx-auto row my-3 ">
        {% for comment in displayedComments  %}
            <div class=" col-sm-12 trick">
                {#
                <h3>{{ comment.dateAdd }}</h3>
                #}
                <p class="text-center">{{ comment.comment }}</p>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row justify-content-center m-3">
            <a href="javascript:void(0)" id="loadMoreComment"><i class="fas fa-plus-circle fa-3x"></i></a>
            {#<a href="#" id="loadLessTrick"><i class="fas fa-minus-circle fa-3x"></i></a>#}
        </div>
    </div>
{% endblock %}
